<section class="hero">
	<div class="hero__image-container">
		<img class="hero__image"
			 src="../../assets/img/daniel-small.png"
			 alt="Daniel Moskal's photo">
		<span class="hero__hello">Hey there! 👋🏽</span>
	</div>
	<div class="hero__description">
		<h1 class="hero__heading">My name is Daniel and ... My name is Daniel and My name is Daniel and</h1>
		<p class="hero__paragraph">
			Some more informations... available soon.. Some more informations... available soon..
			Some more informations... available soon..
		</p>
		<a class="hero__contact"
		   href="mailto:danielmoskal6@gmail.com">danielmoskal6@gmail.com
		</a>
	</div>
</section>
<section class="skills"
		 id="skills">
	<h2 class="skills__heading">My skills</h2>
	<article class="skills-container">
		<span class="skills-container__emoji">💪🏽</span>
		<h3>Working knowledge</h3>
		<ul class="skills-list">
			<li class="skills_list__item">Semantic HTML5</li>
			<li class="skills_list__item">Semantic HTML5</li>
			<li class="skills_list__item">Semantic HTML5</li>
			<li class="skills_list__item">Semantic HTML5</li>
			<li class="skills_list__item">Semantic HTML5</li>
			<li class="skills_list__item">Semantic HTML5</li>
		</ul>
	</article>
	<article class="skills-container">
		<span class="skills-container__emoji">🤔</span>
		<h3>Know something about</h3>
		<ul class="skills-list">
			<li class="skills_list__item">Semantic HTML5</li>
			<li class="skills_list__item">Semantic HTML5</li>
			<li class="skills_list__item">Semantic HTML5</li>
			<li class="skills_list__item">Semantic HTML5</li>
			<li class="skills_list__item">Semantic HTML5</li>
			<li class="skills_list__item">Semantic HTML5</li>
		</ul>
	</article>
	<article class="skills-container">
		<span class="skills-container__emoji">🎓</span>
		<h3>Want to learn</h3>
		<ul class="skills-list">
			<li class="skills_list__item">Semantic HTML5</li>
			<li class="skills_list__item">Semantic HTML5</li>
			<li class="skills_list__item">Semantic HTML5</li>
			<li class="skills_list__item">Semantic HTML5</li>
			<li class="skills_list__item">Semantic HTML5</li>
			<li class="skills_list__item">Semantic HTML5</li>
		</ul>
	</article>
</section>
<section class="projects">
	<h2 class="projects__heading">Recent projects</h2>
	<p class="projects__description">
		Descriptions of my projects will be available soon..
	</p>
	<div class="projects-grid">
		<article class="project">
			<h3 class="project__title">
				<span>project:</span>
				<span>podlaski git</span>
			</h3>
			<p>
				<span>description:</span>
				<span>podlaskie aliasy dla gitowych komend</span>
			</p>
			<p>
				<span>demo:</span>
				<span>
					<a href="#"
					   title="podlaski git - demo">
						&lt;see_here&gt;
					</a>
				</span>
			</p>
			<p>
				<span>github:</span>
				<span>
					<a href="#"
					   title="podlaski git - source code">
						&lt;source_code&gt;
					</a>
				</span>
			</p>
		</article>
	</div>
</section>
<section class="contact"
		 id="contact">
	<h2 class="contact__heading">Contact me</h2>
	<p>I'm open for new opportunities. If you have one for me, we should talk!</p>
	<div class="contact__links">
		<ul class="socials">
			<li class="socials__item">
				<a class="socials__link"
				   href="https://linkedin.com/in/daniel-moskal/">
					<img class="socials__icon"
						 src=""
						 alt="Daniel Moskal's linkedin">
				</a>
			</li>
			<li class="socials__item">
				<a class="socials__link"
				   href="https://github.com/danielmoskal">
					<img class="socials__icon"
						 src=""
						 alt="Daniel Moskal's github">
				</a>
			</li>
		</ul>
		<a class="contact_mail"
		   href="mailto:danielmoskal6@gmail.com">danielmoskal6@gmail.com
		</a>
	</div>
</section>