html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

.body {
  margin: 0;
  background: #88ffc0;
  background: radial-gradient(circle, #88ffc0 8%, #daffeb 80%, #d7fcfa 94%); }

.header {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 64px;
  box-sizing: border-box;
  background: rgba(136, 255, 192, 0.6);
  z-index: 2000;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  display: flex; }
  .header__menu {
    position: absolute;
    top: 20px;
    right: 20px; }
    @media screen and (min-width: 1024px) {
      .header__menu {
        display: none; } }

.navigation {
  width: 100%;
  display: none;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin: 8px; }
  .navigation--open {
    display: flex; }
  .navigation__link {
    text-transform: uppercase;
    margin: 4px; }
  @media screen and (min-width: 1024px) {
    .navigation__item {
      margin: 0; } }
  @media screen and (min-width: 1024px) {
    .navigation {
      display: flex;
      flex-direction: row; } }

.main {
  margin: 0 auto;
  margin-top: 80px;
  width: 90%;
  display: grid;
  grid-template-areas: 'header' 'main' 'aside';
  grid-template-columns: auto; }
  .main__content {
    grid-area: main;
    padding: 10px 40px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-bottom: 30px;
    background: #ffffff; }
  .main__header {
    color: #00aa1c;
    text-transform: uppercase;
    grid-area: header; }
  @media screen and (min-width: 1024px) {
    .main {
      width: 80%;
      grid-template-areas: 'header header header' 'main . aside';
      grid-template-columns: 1fr 64px 200px; } }

.section {
  padding: 10px 40px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin-bottom: 30px;
  background: #ffffff; }

.article {
  padding: 10px 30px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin-bottom: 30px; }
  .article__heading::before {
    content: '';
    display: inline-block;
    height: 12px;
    width: 12px;
    margin-left: 0;
    margin-right: 4px;
    background-color: red;
    border-radius: 50%; }
  .article__heading::after {
    content: '';
    display: inline-block;
    height: 12px;
    width: 12px;
    margin-left: 4px;
    margin-right: 0;
    background-color: red;
    border-radius: 50%; }

.aside {
  grid-area: aside;
  padding: 10px 16px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin-bottom: 30px;
  background: #ffffff; }

.wtf-header__logo {
  border-radius: 10px; }

.image-wrapper {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px; }
  .image-wrapper__image {
    max-width: 60%;
    max-height: 500px;
    border-radius: 20px; }

.footer {
  width: 100%;
  padding: 0.5rem 1.5rem;
  box-sizing: border-box; }
